2022-03-01-13-09-36.png
2022-03-01-14-04-54.png
2022-03-01-16-02-34.png
2022-03-01-16-31-59.png
2022-03-01-16-35-56.png
2022-03-01-16-37-29.png
2022-03-01-16-55-51.png
2022-03-01-17-16-48.png
week3/2022-02-28-16-52-45.png
week3/2022-02-28-16-57-49.png
week3/2022-02-28-17-14-13.png
week3/2022-02-28-17-17-40.png
week3/2022-02-28-17-18-10.png
week3/2022-02-28-17-49-26.png
week3/2022-02-28-17-51-03.png
week3/2022-02-28-18-20-46.png
week3/2022-02-28-18-30-52.png
week3/2022-02-28-18-51-37.png
week3/2022-02-28-18-52-42.png
week3/2022-02-28-18-54-12.png
week3/2022-02-28-18-55-16.png
week3/2022-02-28-19-01-34.png
week3/2022-02-28-19-03-41.png
week3/2022-02-28-19-05-26.png
week3/2022-02-28-19-08-52.png
week7/sliding_find.py
week7/aa.py
workspace.code-workspace
week9/images/2022-04-13-13-29-58.png
week9/images/2022-04-13-23-56-37.png
week9/images/2022-04-14-00-41-26.png
week10/pytorch_first_step/mnist_dataset/MNIST/raw/t10k-images-idx3-ubyte
week10/pytorch_first_step/mnist_dataset/MNIST/raw/t10k-images-idx3-ubyte.gz
week10/pytorch_first_step/mnist_dataset/MNIST/raw/t10k-labels-idx1-ubyte
week10/pytorch_first_step/mnist_dataset/MNIST/raw/t10k-labels-idx1-ubyte.gz
week10/pytorch_first_step/mnist_dataset/MNIST/raw/train-images-idx3-ubyte
week10/pytorch_first_step/mnist_dataset/MNIST/raw/train-images-idx3-ubyte.gz
week10/pytorch_first_step/mnist_dataset/MNIST/raw/train-labels-idx1-ubyte
week10/pytorch_first_step/mnist_dataset/MNIST/raw/train-labels-idx1-ubyte.gz
week10/pytorch_first_step/__pycache__/lenet5.cpython-38.pyc
week10/pytorch_first_step/__pycache__/loss.cpython-38.pyc
week10/pytorch_first_step/__pycache__/models.cpython-38.pyc
week10/pytorch_first_step/loss/__pycache__/loss.cpython-38.pyc
week10/pytorch_first_step/output/model_epoch0.pt
week10/pytorch_first_step/output/model_epoch1.pt
week10/pytorch_first_step/output/model_epoch2.pt
week10/pytorch_first_step/output/model_epoch3.pt
week10/pytorch_first_step/output/model_epoch4.pt
week10/pytorch_first_step/output/model_epoch5.pt
week10/pytorch_first_step/output/model_epoch6.pt
week10/pytorch_first_step/output/model_epoch7.pt
week10/pytorch_first_step/output/model_epoch8.pt
week10/pytorch_first_step/output/model_epoch9.pt
week10/pytorch_first_step/output/model_epoch10.pt
week10/pytorch_first_step/output/model_epoch11.pt
week10/pytorch_first_step/output/model_epoch12.pt
week10/pytorch_first_step/output/model_epoch13.pt
week10/pytorch_first_step/output/model_epoch14.pt
week10/pytorch_first_step/utils/__pycache__/tools.cpython-38.pyc
